html {
    background-color: maroon;
}

body {
    background-color: bisque;
    font-family: 'Times New Roman', Times, serif;
}
h1, h2, h3 {
    padding: 0.4em;
}
fieldset {
    border: 2px solid maroon;
}
button {
    margin: 0.5em;
    border: 2px solid maroon;
}
legend {
    font-size: 150%;
    font-style: italic;
    font-weight: bolder;
}
div {
    margin: 0.5em;
}
small {
    float: right;
    color: bisque;
}
#pizza_image {
    width: 392px;
    height: 196px;
}
p {
    font-style: italic;
    font-size: large;
}

